.user-intro {
  padding: 15px;

  display: flex;
  flex-wrap: wrap;

  img {
    margin: 20px;
  }

  .user-name {
    text-align: left;
    line-height: 1.5rem;
  }
}

@media(min-width: 600px) {
  .user-intro {
    justify-content: center;
  }
}
