@import '../../styles/commons.scss';

h1 {
  margin-top: 40px;
  font-size: 2.5em;
  font-style: italic;
  font-weight: 400;
}

.divider {
  height:30px;
  width: 80px;
  margin: 20px auto 30px auto;

  .line {
    border-bottom: 1px solid $grey;
    display:block;
    padding-top: 15px;
  }
}
